@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The music playlists</h1>
    <p class="lead">Music is found in every known culture, past and present, varying widely between times and places. Since all people of the world, including the most isolated tribal groups, have a form of music, it may be concluded that music is likely to have been present in the ancestral population prior to the dispersal of humans around the world. Consequently, music may have been in existence for at least 55,000 years and the first music may have been invented in Africa and then evolved to become a fundamental constituent of human life.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Playlists</h2>
        <p>
            Playlist is a term that has come to the forefront in digital technology. The word is defined as an electronic file containing a list of video or audio files that can be played back on a media player sequentially or in random order. In its most general form, an audio playlist is simply a list of songs, but sometimes a loop.[1] They can be played in sequential or shuffled order.[2] The term has several specialized meanings in the realms of television broadcasting, radio broadcasting and personal computers. A playlist can also be a list of recorded titles on a digital video disk. On the Internet, a playlist can be a list of chapters in a movie serial; for example, Flash Gordon in the Planet Mongo is available on YouTube as a playlist of thirteen consecutive video chapters.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Deejay</h2>
        <p>A disc jockey is a person who mixes recorded music as it is playing. Originally, the "disc" in "disc jockey" referred to gramophone records, but now "DJ" is used as an all-encompassing term to describe someone who mixes recorded music from any sources, including cassettes, CDs, or digital audio files on a CDJ or laptop. DJs typically perform for a live or broadcast audience, but DJs also create mixes that are recorded for later sale and distribution.</p>
    </div>
    <div class="col-md-4">
        <h2>Streaming</h2>
        <p>Streaming media is multimedia that is constantly received by and presented to an end-user while being delivered by a provider. The verb "to stream" refers to the process of delivering or obtaining media in this manner; the term refers to the delivery method of the medium, rather than the medium itself, and is an alternative to file downloading, a process in which the end-user obtains the entire file for the content before watching or listening to it.</p>
    </div>
</div>